@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --width: 1600px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(180deg, rgb(207, 207, 131), rgb(234, 191, 0));
    text-align: justify;
    
}
/* POSITIONING */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1600px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
    "warn warn warn" 
    "left container right";
    justify-items: center;
    font-size: 2em;
}
.container {
    grid-area: container;
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}
#landscape-warning {
    grid-area: warn;
    color: darkred;
}

.space-sente {
    margin-top: 100vh;
    margin-bottom: 100vh;
}
.first-line {
    margin-top: 50vh;
    margin-bottom: 0vh;
}
.spacer {
<<<<<<< HEAD
    margin-bottom: 15em;
=======
    margin-bottom: 3em;
>>>>>>> 0b96217da283c911df07278a8ab4ac82b92eade5
}
img {
    width: var(--width);
    height: auto;
    z-index: -1;
}



/* STICKY STUFF */


span {
    position: relative;
    z-index: 1;
    
    line-height: 2em;
    background-color: rgba(240, 248, 255, 1);



    padding-bottom: 0.82em;
    

    word-spacing: 0.3em;
}

.marg-span {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.one, .two {
    position: sticky;
    z-index: 0;

    background-color: rgba(240, 248, 255, 1);
    padding: 0;
}

/* NEW SENTENCE */

.a {
    top: 2em;
}
.b  {
    top: 3.5em;
}
.c {
    top: 5em;
}
.d {
    top: 6.5em;
} 
.e {
    top: 8em;
}

.w {
    top: 10em;
}
.x  {
    top: 11.5em;
}
.y {
    top: 13em;
}
.z {
    top: 14.5em;
} 


/* MEDIA QUERIES */


@media screen and (min-width: 1000px) {
    :root {
        --width: 800px;
    }
    .wrapper {
        grid-template-columns: auto 800px auto;
    }
    
}

@media screen and (max-width: 999px) {
    :root {
        --width: 600px;
    }
    /* at this point collapse buttons */
    .wrapper {
        grid-template-columns: auto 600px auto;
    }
   
}


@media screen and (max-width: 700px) {
    :root {
        --width: 320px;
    }
    .wrapper {
        grid-template-columns: 1fr 320px 1fr;
    }
    .a {
        top: calc(10em + 0.75em);
    }
    .b  {
        top: calc(10em + 2em);
    }
    .c {
        top: calc(10em + 3.25em);
    }
    .d {
        top: calc(10em + 4.5em);
    } 
    .e {
        top: calc(10em + 5.25em);
    }
    
    .w {
        top: calc(10em + 6em);
    }
    .x  {
        top: calc(10em + 7.25em);
    }
    .y {
        top: calc(10em + 8.5em);
    }
    .z {
        top: calc(10em + 9.5em);
    } 
    .marg-span {
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        margin-left: 0em;
        margin-right: 0em;
    }
}
