body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(180deg, lightblue, cornflowerblue);
    display: flex;
    justify-content: center;

}

.container {
    width: 50vw;
    font-size: 1.6vw;
    line-height: 2em;
    font-weight: 500;
}
.spacer {
    height: 1600px;
}

span {
    font-style: normal;
    background-color: lightblue;
    position: sticky;
    top: 10px;

}