@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


body {
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(180deg, rgb(207, 207, 131), rgb(234, 191, 0));
    text-align: left;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1600px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
    "warn warn warn" 
    "left st-one right"
    ". st-two ."
    ". st-three ."
    ". st-four ."
    ". st-five ." /**/
    ". st-six ."
    ". st-seven ." /**/
    ". st-eight ."
    ". st-nine ." /**/
    ". st-ten ."
    ". st-elev ." /**/
    ". st-twelv ."
    ". st-thirt ."
    ". st-fourt ." /**/
    ". st-fift ."; /**/
    justify-items: center;
    font-size: 4em;
    
}
span {
    display:block;
}

#landscape-warning {
    grid-area: warn;
    color: darkred;
}
.st, .fake-side {
    margin-top: 100vh;
    margin-bottom: 100vh;
    line-height: 2em;
}
.st-one {
    grid-area: st-one;
    margin-top: 50vh;
}
.st-two {
    grid-area: st-two;
}
.st-three {
    grid-area: st-three;
}
.st-four {
    grid-area: st-four;
}
.st-five { /* contains word */
    grid-area: st-five;
}
.st-six {
    grid-area: st-six;
}
.st-seven {
    grid-area: st-seven;
}
.st-eight {
    grid-area: st-eight;
}
.st-nine {
    grid-area: st-nine;
}
.st-ten {
    grid-area: st-ten;
}
.st-elev {
    grid-area: st-elev;
}
.st-twelv {
    grid-area: st-twelv;
}
.st-thirt {
    grid-area: st-thirt;
}
.st-fourt {
    grid-area: st-fourt;
}
.st-fift {
    grid-area: st-fift;
}

.st-five, .st-seven, .st-nine, .st-elev, .st-fourt, .st-fift {
    display: inline;

}







.new-sentence {
    display: inline;
    position: sticky;
    top: calc(20vh);
}

.spacer {
    height: 9000px;
}
.spacertwo {
    grid-area: 2/2/-1/-1
}

@media screen and (min-width: 1600px) {
    .wrapper {
        font-size: 4em;
        grid-template-columns: auto 1600px auto;
    }
}


@media screen and (max-width: 1600px) {
    .wrapper {
        font-size: 2em;
        grid-template-columns: auto 800px auto;
    }
}

@media screen and (max-width: 800px) {
    /* at this point collapse buttons */
    .wrapper {
        font-size: 1.5em;
        grid-template-columns: auto 600px auto;
    }
}


@media screen and (max-width: 600px) {
    .wrapper {
        font-size: 0.8em;
        grid-template-columns: auto 320px auto;
    }
}

@media screen and (max-width: 320px) {
    
    .wrapper {
        font-size: 0.8em;
        grid-template-columns: auto 320px auto;
    }
}
